.newsCards {
  width: 65vw;
}

.container {
  display: flex;
  justify-content: center;
}

.optionsContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
